name: Destroy Azure environment

on:
  pull_request:
    types: [labeled]

jobs:
  destroy:
    if: contains(github.event.pull_request.labels.*.name, 'destroy environment')
    runs-on: ubuntu-latest
    steps:
      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Delete resource group
        run: |
          az group delete --name cd-with-actions --yes --no-wait

      - name: Azure logout
        uses: azure/CLI@v2
        with:
          inlineScript: |
            az logout
            az cache purge
            az account clear
